{% extends 'base.html' %}
{% load static %}

{% block title %} Tables {% endblock %}

{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'administrators/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'administrators/css/video_user.css' %}" rel="stylesheet">
{% endblock %}

{% block container_fluid %}
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Video Edit</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Title</th>
                            <th>Video edit</th>
                            <th>Duration</th>
                            <th>Format</th>
                            <th>Size</th>
                            <th>Video upload</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Title</th>
                            <th>Video edit</th>
                            <th>Duration</th>
                            <th>Format</th>
                            <th>Size</th>
                            <th>Video upload</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ video.title }}</td>
                            <td>{{ video.video_edit }}</td>
                            <td>{{ video.duration }}</td>
                            <td>{{ video.format }}</td>
                            <td>{{ video.size }}</td>
                            <td>{{ video.video_upload }}</td>
                            <td>
                                <a href="{% url 'administrators:update_user' user_id=user.id %}" class="btn btn-danger btn-circle btn-sm update"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{% url 'administrators:delete_user' user.id%}" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'administrators/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'administrators/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'administrators/js/demo/datatables-demo.js' %}"></script>
{% endblock %}