{% extends "clients/base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'clients/css/add_voice.css' %}" />
{% endblock stylesheets %}
{% block content %}
<div id="loader" class="pb-5">
  <div class="content-upload">
    <div class="content-box">
      <div class="title text-center">
        <h1>Add Voice To Video Online</h1>
        <h2>Using AI create voice and add voice to video render</h2>
      </div>
      <div class="file-source-btn">
        <form method="post" action="{% url 'clients:add_voice' %}" id="formUpload" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="upload-file" type="file"
                 name="video_file" class="file-input">
          <label for="upload-file" class="file-btn">
            <span><i class="fas fa-plus-circle mr-1"></i>Choose file</span>
          </label>
        </form>
      </div>
    </div>
  </div>
  <div class="content-advantage mt-5 pb-5 pt-5">
    <div class="row justify-content-center">
      <div class="m-3">
        <div class="card d-flex align-items-center" style="width: 18rem;">
          <img class="card-image" src="{% static 'clients/images/frame-427319047@2x.png' %}" width="100" height="100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fast Generate Voice With AI</h5>
            <p class="card-text">Discover rapid voice synthesis through our AI-driven platform. Effortlessly create
              diverse, lifelike voices for high-quality audio content like voiceovers and podcasts, revolutionizing
              content creation.</p>
          </div>
        </div>
      </div>
      <div class="m-3">
        <div class="card d-flex align-items-center" style="width: 18rem;">
          <img class="card-image" src="{% static 'clients/images/frame-427319049@2x.png' %}" width="100" height="100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fast Apply Voice To Video</h5>
            <p class="card-text">Instantly elevate your videos with our seamless voice application feature. Effortlessly
              sync captivating narration or dialogue to your visuals, transforming storytelling with ease. Experience
              seamless voice integration on our cutting-edge platform today.</p>
          </div>
        </div>
      </div>
      <div class="m-3">
        <div class="card d-flex align-items-center" style="width: 18rem;">
          <img class="card-image" src="{% static 'clients/images/frame-427319047@2x.png' %}" width="100" height="100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Easy-to-use</h5>
            <p class="card-text">You don't need any experience in video editing to use the online service because its interface is intuitive. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-using pt-5 pb-5 mt-5">
    <div class="accordion row justify-content-center" id="accordionExample">
      <div class="using-left col-md-2 m-3">
        <img class="image-47-icon" alt="" width="300" height="300" src="{% static 'clients/images/image-47@2x.png' %}" />
      </div>
      <div class="using-right col-md-4 m-3">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Step 1: Upload a recording or movie
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Open or drag & drop a video from your Mac, Windows computer or other device.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Step 2: Upload subtitle
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Craft a seamless viewing experience by easily uploading subtitles to your videos. Enhance accessibility
              and engagement by effortlessly adding captions, ensuring your content reaches a wider audience. Simplify
              the process of subtitling and amplify the impact of your videos with our intuitive platform.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Step 3: Preview video after export
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Review your video content immediately after exporting. Ensure quality and perfection by previewing the
              final output before sharing or publishing. Experience confidence in your content with our instant
              post-export preview feature, allowing for quick adjustments and enhancements as needed
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="headingFour">
                Step 4: Export Video
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              Effortlessly finalize and save your video content with our streamlined export feature. Seamlessly transfer
              your creative work into a shareable format. Take control of your content's destiny by exporting your
              videos hassle-free, ready to captivate your audience.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-contract pt-5 mt-5 pb-5">
    <div class="row justify-content-md-center">
      <div class="contract-left col col-lg-4">
        <p>
          Have a too large file for uploading to Instagram, Facebook, YouTube, or for sending via Email? It's not a
          problem anymore, with our tool you can easily make your video smaller without losing quality!
          Clideo's interface is user-friendly so you don't need to have any special video editing skills to use it!
        </p>
        <div>
          <p>
            Contact us if you are interested in working with us
          </p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Insert your email address" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="contract-right col col-lg-2">
        <img class="image-47-icon" alt="" width="300" height="300" src="{% static 'clients/images/image-45@2x.png' %}"/>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'clients/js/upload.js' %}"></script>
{% endblock script %}