{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'clients/css/add_voice_tool.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" />
</head>

<body>
    <div class="cut-video">
        <div class="cut-video-child">
            <video class="video-upload" width="550" height="330" controls>
                <source src="{{ video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="cut-video-inner">
            <div class="rewind"><i class="fa-solid fa-backward"></i></div>
            <div class="play"><i class="fa-solid fa-play"></i></div>
            <div class="forward"><i class="fa-solid fa-forward"></i></div>
        </div>
        <img class="rectangle-icon" alt="" src="{% static 'clients/images/rectangle-194@2x.png' %}" />
        {% if video_url %}
        <div class="cut-video-child1">
            <video id="video-edit" width="400" height="240" controls>
                <source src="{{ preview_video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% else %}

        <div class="cut-video-child1">
        </div>
        {% endif %}

        {% comment %} <form id="form-voice_to_video" action="{% url 'clients:cut_tool' id=id %}" method='POST'> {% endcomment %}
            {% csrf_token %}
            <input type="hidden" id="video_path" name="full_path" value="{{ full_path }}"/>
            <input type="hidden" id="id" name="id" value="{{ id }}"/>
        </form>

        <div class="rectangle-container">
            <button type="button" class="preview-button">Preview</button>
        </div>
        <div class="cut-video-child5"></div>
        <div class="rectangle-parent5">
            <button class="export-button">Export</button>
        </div>

        <div class="add-more-videos">
            <label for="fileInput" class="import-button">Import file text</label>
            <input type="file" id="fileInput" name="sub_file" style="display: none;" multiple>
            <input type="hidden" class="path_sub" name="path_sub" >
            <div class="video-display" id="videoDisplay">
                <!-- Display uploaded videos here if needed -->
            </div>
        </div>

        <div class="rectangle-parent6">
            <div class="group-child8"></div>
            <div class="final-output-group">
                <div class="final-output1">Final output:</div>
                <div class="div7">
                    <input name="output" id="output" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="00:00:00" required>
                </div>
            </div>
        </div>
        <div class="home-wrapper" id="frameContainer1">
            <div class="home"><a href="{% url 'clients:home' %}">Home</a></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'clients/js/loadingoverlay.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".play").on("click", function() {
                var video = $(".video-upload")[0];
                var button = $(this);
                var icon = button.find("i");
                if (video.paused) {
                    video.play();
                    icon.removeClass("fa-play").addClass("fa-pause");
                } else {
                    video.pause();
                    icon.removeClass("fa-pause").addClass("fa-play");
                }
            });

            $(".rewind").on("click", function() {
                var video = $(".video-upload")[0];
                video.currentTime -= 5;
            });

            $(".forward").on("click", function() {
                var video = $(".video-upload")[0];
                video.currentTime += 5;
            });

            $('#fileInput').on('change', function() {
                let fileInput = document.getElementById('fileInput');
                let file = fileInput.files[0];

                if (file) {
                    let formData = new FormData();
                    formData.append('sub_file', file);
                    $.ajax({
                        url: '/upload_subtitle', // Replace with your server endpoint
                        type: 'POST',
                        headers: {'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()},
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            $('.path_sub').val(response.path_sub)
                        },
                        error: function(xhr, status, error) {
                            // Handle errors
                            console.error('There was a problem with the upload:', error);
                        }
                    });
                } else {
                    console.error('No file selected.');
                }
            });

            $('.preview-button').on("click", function() {
                const form = $(this).closest('.cut-video').find('#form-voice_to_video');
                let video_path = $('#video_path').val();
                let id = $('#id').val();
                let path_sub = $('.path_sub').val();
                let params = {
                    'id': id,
                    'path_sub': path_sub,
                    'video_path': video_path,
                }
                $.ajax({
                    url: '/preview_voice_to_video',
                    type: 'POST',
                    beforeSend: function() {
                        $.LoadingOverlay("show");
                    },
                    headers: {'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()},
                    data: params
                }).done(function(res) {
                    let video = document.getElementById('video-edit');
                    // Create a new source element
                    let source = document.createElement('source');
                    source.setAttribute('src', res.preview_video); // Set the video source URL
                    source.setAttribute('type', 'video/mp4'); // Set the MIME type
                    video.appendChild(source);
                    video.play();
                    $.LoadingOverlay("hide");
                });
            })

            $('.export-button').on('click', function (){
                let preview_video = $('#video-edit');
                let url = preview_video.find('source').attr('src');
                let id = $('#id').val();
                let params = {
                    'id': id,
                    'url': url
                }
                $.ajax({
                    url: '/export_cut_video',
                    type: 'POST',
                    beforeSend: function() {
                        $.LoadingOverlay("show");
                    },
                    headers: {'X-CSRFToken': form.find('input[name="csrfmiddlewaretoken"]').val()},
                    data: params
                }).done(function(res) {
                    if (res.success === 'true') {
                        let anchor = $("<a>")
                            .attr("href", url)
                            .attr("download", "downloaded_video.mp4") // Change the downloaded file name here
                            .appendTo("body");
                        anchor[0].click();
                        anchor.remove();
                        $.LoadingOverlay("hide");
                    }
                }).error(function (e) {
                    console.log(e)
                    $.LoadingOverlay("hide");
                });
            })
        });

        const video = document.querySelector('.video-upload');
        const startInput = document.querySelector('#start');
        const endInput = document.querySelector('#end');
        const outputInput = document.querySelector('#output');

        video.addEventListener('play', () => {
            startInput.value = formatTime(video.currentTime);
        });

        video.addEventListener('pause', () => {
            endInput.value = formatTime(video.currentTime);
        });

        video.addEventListener('loadedmetadata', () => {
            outputInput.value = formatTime(video.duration);
        });


        function formatTime(time) {
            const hours = Math.floor(time / 3600);
            const minutes = Math.floor((time % 3600) / 60);
            const seconds = Math.floor(time % 60);
            return `${padZero(hours)}:${padZero(minutes)}:${padZero(seconds)}`;
        }

        function padZero(number) {
            return number < 10 ? `0${number}` : number;
        }


    </script>
</body>

</html>