{% extends "clients/base_tool.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'clients/css/add_voice.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'clients/css/add_subtitles.css' %}" />
{% endblock stylesheets %}
{% block content %}
<div class="h-100">
    <div class="row content-tool h-100">
        <div class="col col-12 h-100">
            <i class="btn-back fas fa-chevron-left"></i>
            <div class="row edit-wrapper">
                <div class="edit-video_content d-flex justify-content-center align-items-center col col-md-5 col-sm-12">
                    <div class="video-wrapper">
                        <video class="video-upload" width="100%">
                            <source src="{{ video_url }}" type="video/mp4">
                        </video>
                        <div class="media-controls d-flex text-center mt-4"><!---->
                            <div class="flex-grow-1 text-left text-white btn-mute"><i class="fas fa-volume-up"></i></div>
                            <div class="mc-box-center btn-play"><i class="fas fa-play"></i></div>
                            <div class="flex-grow-1 text-white">
                                <div class="mc-time text-right"><span class="video-time-current">00:00</span> <span
                                        class="mc-time-divider">/</span> <span class="video-time-total">00:00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="preview-video_content col col-md-4 col-sm-12">
                    <div class="preview-video">
                        <form>
                            {% csrf_token %}
                            <input type="hidden" id="video_path" name="full_path" value="{{ full_path }}"/>
                            <input type="hidden" id="id" name="id" value="{{ id }}"/>
                            <video id="video-preview" width="100%" controls>
                                <source src="{{ preview_video }}" type="video/mp4">
                            </video>
                        </form>
                    </div>
                </div>
                <div class="edit-subtitle_content col col-md-3 col-sm-12">
                    <div class="sidebar-container flex-md-fill">
                        <div class="scroll-wrapper sidebar-scroll scrollbar-custom">
                            <div class="sidebar-scroll scrollbar-custom scroll-content scroll-scrolly_visible"
                                 style="height: 100vh; margin-bottom: 0px; margin-right: 0px;">
                                <div class="sidebar-inner" style="display: none;">
                                    <div class="sub-style-presets-wrapper">
                                        <div class="sub-style-presets">
                                            <div data-mode="background" data-foreground="#ffffff"
                                                 data-foreground-opacity="1" data-background="#000000"
                                                 data-background-opacity="0.7" class="item"><span class="text"
                                                                                                  style="color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.7);">I need your clothes, your boots <br>and your motorcycle.</span>
                                            </div>
                                            <div data-mode="background" data-foreground="#ffffff"
                                                 data-foreground-opacity="1" data-background="#2222dd"
                                                 data-background-opacity="0.7" class="item"><span class="text"
                                                                                                  style="color: rgb(255, 255, 255); background-color: rgba(34, 34, 221, 0.7);">I need your clothes, your boots <br>and your motorcycle.</span>
                                            </div>
                                            <div data-mode="background" data-foreground="#000000"
                                                 data-foreground-opacity="1" data-background="#ffffff"
                                                 data-background-opacity="0.8" class="item"><span class="text"
                                                                                                  style="color: rgb(0, 0, 0); background-color: rgba(255, 255, 255, 0.8);">I need your clothes, your boots <br>and your motorcycle.</span>
                                            </div>
                                            <div data-mode="stroke" data-foreground="#ffffff"
                                                 data-foreground-opacity="1" data-background="#000000"
                                                 data-background-opacity="1" class="item"><span class="text"
                                                                                                style="color: rgb(255, 255, 255); text-shadow: rgb(0, 0, 0) 2px 2px 0px, rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px, rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;">I need your clothes, your boots <br>and your motorcycle.</span>
                                            </div>
                                            <div data-mode="stroke" data-foreground="#ffffff"
                                                 data-foreground-opacity="1" data-background="#aa00cc"
                                                 data-background-opacity="1" class="item"><span class="text"
                                                                                                style="color: rgb(255, 255, 255); text-shadow: rgb(170, 0, 204) 2px 2px 0px, rgb(170, 0, 204) -1px -1px 0px, rgb(170, 0, 204) 1px -1px 0px, rgb(170, 0, 204) -1px 1px 0px, rgb(170, 0, 204) 1px 1px 0px;">I need your clothes, your boots <br>and your motorcycle.</span>
                                            </div>
                                            <div data-mode="stroke" data-foreground="#ffffff"
                                                 data-foreground-opacity="1" data-background="#2222dd"
                                                 data-background-opacity="1" class="item"><span class="text"
                                                                                                style="color: rgb(255, 255, 255); text-shadow: rgb(34, 34, 221) 2px 2px 0px, rgb(34, 34, 221) -1px -1px 0px, rgb(34, 34, 221) 1px -1px 0px, rgb(34, 34, 221) -1px 1px 0px, rgb(34, 34, 221) 1px 1px 0px;">I need your clothes, your boots <br>and your motorcycle.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-inner">
                                    {% if subtitles %}
                                    {% for subtitle in subtitles %}
                                    <div class="sidebar-subs">
                                        <div data-uuid="5afcd303-c219-4edc-bde0-158c0ede2955" class="sub-card current">
                                            <div class="sub-time">
                                                <input type="text"
                                                       pattern="[0-9]*" placeholder="{{ subtitle.start_time }}"
                                                       class="form-control text-center sub-time-start"
                                                       im-insert="true">
                                                <input type="text"
                                                       inputmode="numeric"
                                                       pattern="[0-9]*"
                                                       placeholder="{{ subtitle.end_time }}"
                                                       data-mask="99:99.99"
                                                       class="form-control text-center sub-time-end"
                                                       im-insert="true">
                                            </div>
                                            <div class="sub-text"><textarea
                                                placeholder="{{ subtitle.text }}"
                                                rows="2" class="form-control auto-expand subtext"></textarea></div>
                                            <div class="sub-buttons d-none"><a class="sub-del"><i class="fa-solid fa-xmark"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <button class="sidebar-section btn-add-section"><span class="btn"><i class="fas fa-plus mr-2"></i>Add subtitle</span></button>
                                </div>
                            </div>
                            <div class="scroll-element scroll-x scroll-scrolly_visible">
                                <div class="scroll-element_outer">
                                    <div class="scroll-element_size"></div>
                                    <div class="scroll-element_track"></div>
                                    <div class="scroll-bar" style="width: 0px;"></div>
                                </div>
                            </div>
                            <div class="scroll-element scroll-y scroll-scrolly_visible">
                                <div class="scroll-element_outer">
                                    <div class="scroll-element_size"></div>
                                    <div class="scroll-element_track"></div>
                                    <div class="scroll-bar" style="height: 189px; top: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 editor-footer">
            <div class="editor-settings flex-grow-1 col-10">
                <div class="form-group"><span class="text-muted">Final output</span> <span class="text-muted">—</span>
                    <span class="video-duration"></span></div> <!---->
                <div class="form-group"><span class="text-muted font-weight-normal">Format</span> <span
                        class="text-muted">—</span> <!---->
                    <div class="dropup">
                        <div id="vFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             data-display="static" class="form-control form-control-sm form-select border-hover"><span
                                class="selected-option">MP4</span></div>
                        <div aria-labelledby="vFormat" class="dropdown-menu">
                            <div class="scroll-wrapper dropdown-menu-inner scrollbar-custom" style="position: relative;">
                                <div class="dropdown-menu-inner scrollbar-custom scroll-content scroll-scrolly_visible"
                                     style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 272px;"><a
                                        class="dropdown-item">
                                    3G2
                                </a><a class="dropdown-item">
                                    3GP
                                </a><a class="dropdown-item">
                                    AVI
                                </a><a class="dropdown-item">
                                    ASF
                                </a><a class="dropdown-item">
                                    F4V
                                </a><a class="dropdown-item">
                                    FLV
                                </a><a class="dropdown-item">
                                    M2TS
                                </a><a class="dropdown-item">
                                    M2V
                                </a><a class="dropdown-item">
                                    M4V
                                </a><a class="dropdown-item">
                                    MKV
                                </a><a class="dropdown-item">
                                    MOV
                                </a><a class="dropdown-item active">
                                    MP4
                                </a><a class="dropdown-item">
                                    MPG
                                </a><a class="dropdown-item">
                                    MPEG
                                </a><a class="dropdown-item">
                                    MTS
                                </a><a class="dropdown-item">
                                    MXF
                                </a><a class="dropdown-item">
                                    OGV
                                </a><a class="dropdown-item">
                                    RM
                                </a><a class="dropdown-item">
                                    RMVB
                                </a><a class="dropdown-item">
                                    TS
                                </a><a class="dropdown-item">
                                    VOB
                                </a><a class="dropdown-item">
                                    WEBM
                                </a><a class="dropdown-item">
                                    WMV
                                </a></div>
                                <div class="scroll-element scroll-x scroll-scrolly_visible">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar" style="width: 0px;"></div>
                                    </div>
                                </div>
                                <div class="scroll-element scroll-y scroll-scrolly_visible">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar" style="height: 93px; top: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!---->
            <div class="editor-button col-2 mr-auto text-right">
                <button type="button" class="btn btn-preview">
                    Preview
                </button>
                <button type="button" class="btn btn-export">
                    Export
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'clients/js/subtitle.js' %}"></script>
<script type="text/javascript" src="{% static 'clients/js/common.js' %}"></script>
<script>
    $(document).ready(function (){
        $('.btn-preview').on("click", function() {
            let video_path = $('#video_path').val();
            let id = $('#id').val();
            const subtitle = new Subtitle();
            let subtitles = subtitle.getSubtitles();
            if(video_path && subtitles) {
                let params = {
                    'id': id,
                    'video_path': video_path,
                    'subtitles': JSON.stringify(subtitles)
                }
                $.ajax({
                    url: '/preview_voice_to_video',
                    type: 'POST',
                    beforeSend: function() {
                        $.LoadingOverlay("show");
                    },
                    headers: {'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()},
                    data: params
                }).done(function(res) {
                    let video = $('#video-preview');
                    let source = `<source src="${res.preview_video}" type="video/mp4">`;
                    video.html(source)
                    video[0].load();
                    video[0].play();
                    $.LoadingOverlay("hide");
                }).fail(function(xhr, status) {
                    if (status === 'error') {
                        alert('Handle preview error, Please try again');
                        $.LoadingOverlay("hide");
                    }
                });
            }else {
                alert('Please select a .srt file');
            }
        })
    })
</script>
{% endblock script %}