{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link rel="stylesheet" href="{% static 'clients/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<!--    <link rel="stylesheet" href="{% static 'clients/css/all.min.css' %}"/>-->
    <link rel="stylesheet" href="{% static 'clients/css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'clients/css/base.css' %}"/>
    {% block stylesheets %}

    {% endblock stylesheets %}
</head>
  <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar">
      <a class="navbar-brand navbar-title" href="/">EditVideo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tools
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'clients:loop_video'%}">Loop video</a>
                    <a class="dropdown-item" href="{% url 'clients:add_voice'%}">Add voice to video</a>
                    <a class="dropdown-item" href="{% url 'clients:cut_video'%}">Cut video</a>
                    <a class="dropdown-item" href="{% url 'clients:crop_video'%}">Crop video</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'clients:all_tools' %}">All tools<i class="fa-solid fa-chevron-right"></i></a>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
          </ul>
          {% if user_profile %}
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user_profile.username }}
                      <img src="{{ user_profile.image.url }}" class="dropbtn"/>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'user_project:index' id=user_profile.id %}">My Project</a>
                    <a class="dropdown-item" href="{% url 'users:signout' %}">Logout</a>
                  </div>
              </li>
          </ul>
          {% else %}
          <form class="form-inline my-2 my-lg-0">
              <a class="btn my-2 btn-signin background-primary" href="{% url 'users:signin'%}">Sign in</a>
          </form>
          {% endif %}
      </div>
  </nav>
  <div class="main-editvideo">
    <div class="container-fluid">
        {% block content %}

        {% endblock  %}
    </div>

  <!--footer starts from here-->
    <footer class="footer">
      <div class="container bottom_border">
          <div class="row">
              <div class=" col-sm-6 col-md-6  col-6 col">
                  <!--headin5_amrc-->
                  <ul class="footer_ul_amrc">
                      <li><a href="#">Video editor</a></li>
                      <li><a href="#">Cut video</a></li>
                      <li><a href="#">Merge video</a></li>
                  </ul>
                  <!--footer_ul_amrc ends here-->
              </div>


              <div class=" col-sm-6 col-md-6  col-6 col">
                  <!--headin5_amrc-->
                  <ul class="footer_ul_amrc">
                      <li><a href="#">Crop video</a></li>
                      <li><a href="#">Loop Video</a></li>
                      <li><a href="#">Logo Design</a></li>
                      <li><a href="#">Vectorization</a></li>
                      <li><a href="#">Hair Masking/Clipping</a></li>
                      <li><a href="#">Image Cropping</a></li>
                  </ul>
                  <!--footer_ul_amrc ends here-->
              </div>

          </div>
      </div>

      <div class="container">
          <!--foote_bottom_ul_amrc ends here-->
          <p class="text-center">Copyright @2023 | Designed With by Edit Video</a></p>

          <ul class="social_footer_ul">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <!--social_footer_ul ends here-->
      </div>

  </footer>
  </div>
    <script src="{% static 'clients/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'clients/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'clients/js/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'clients/bootstrap/js/bootstrap.js' %}"></script>
    <script>

        $(document).on("scroll", function(){
            if
            ($(document).scrollTop() > 86){
                $("#navbar").addClass('background-primary');
                $("#navbar .navbar-title").addClass('text-white');
            }
            else
            {
                $("#navbar").removeClass('background-primary');
                $("#navbar .navbar-title").removeClass('text-white');
            }
        });
    </script>
  {% block script %}

  {% endblock script %}
  </body>
</html>