{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'clients/bootstrap/css/bootstrap.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'clients/css/global.css' %}"/>
      <link rel="stylesheet" href="{% static 'clients/css/base.css' %}"/>
      {% block stylesheets %}

    {% endblock stylesheets %}
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap" />-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google Sans:wght@500&display=swap" />-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap" />-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  </head>

  <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar">
      <a class="navbar-brand navbar-title" href="#">EditVideo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tools
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'clients:loop_video'%}">Loop video</a>
                      <a class="dropdown-item" href="{% url 'clients:merge_video'%}">Merge video</a>
                      <a class="dropdown-item" href="{% url 'clients:cut_video'%}">Cut video</a>
                      <a class="dropdown-item" href="{% url 'clients:crop_video'%}">Crop video</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'clients:all_tools' %}">All tools<i class="fa-solid fa-chevron-right"></i></a>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <a class="btn my-2 my-sm-0 background-primary text-dark" href="{% url 'users:signin'%}">Sign in</a>
          </form>
      </div>
  </nav>
  <div class="main-editvideo">
<!--    <div class="nav">-->
<!--        <div class="edit-video"><a href="{% url 'clients:home' %}">Edit video</a></div>-->
<!--        <div class="dropdown">-->
<!--          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">-->
<!--            Tools-->
<!--          </button>-->
<!--          <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="{% url 'clients:loop_video'%}">Loop video</a></li>-->
<!--              <li><a class="dropdown-item" href="{% url 'clients:merge_video'%}">Merge video</a></li>-->
<!--              <li><a class="dropdown-item" href="{% url 'clients:cut_video'%}">Cut video</a></li>-->
<!--              <li><a class="dropdown-item" href="{% url 'clients:crop_video'%}">Crop video</a></li>-->
<!--              <li><hr class="dropdown-divider" /></li>-->
<!--              <li><a class="dropdown-item" href="{% url 'clients:all_tools' %}">All tools<i class="fa-solid fa-chevron-right"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="resources">Resources</div>-->

<!--        {% if user_profile %}-->
<!--        <div class="dropdown1">-->
<!--          <img src="{{ user_profile.image.url }}" class="dropbtn"/>-->
<!--          <div class="dropdown-content">-->
<!--          <a href="#">{{ user_profile.username }}</a>-->
<!--          <a href="{% url 'users:signout' %}">Log out</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        {% else %}-->
<!--        <div class="sign-in-wrapper">-->
<!--          <div class="sign-in">-->
<!--            <a href="{% url 'users:signin'%}">Sign in</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        {% endif %}-->
<!--      </div>-->
    <div class="container-fluid">
        {% block content %}

        {% endblock  %}
    </div>

  <!--footer starts from here-->
    <footer class="footer">
      <div class="container bottom_border">
          <div class="row">
              <div class=" col-sm-6 col-md-6  col-6 col">
                  <!--headin5_amrc-->
                  <ul class="footer_ul_amrc">
                      <li><a href="#">Video editor</a></li>
                      <li><a href="#">Cut video</a></li>
                      <li><a href="#">Merge video</a></li>
                  </ul>
                  <!--footer_ul_amrc ends here-->
              </div>


              <div class=" col-sm-6 col-md-6  col-6 col">
                  <!--headin5_amrc-->
                  <ul class="footer_ul_amrc">
                      <li><a href="#">Crop video</a></li>
                      <li><a href="#">Loop Video</a></li>
                      <li><a href="#">Logo Design</a></li>
                      <li><a href="#">Vectorization</a></li>
                      <li><a href="#">Hair Masking/Clipping</a></li>
                      <li><a href="#">Image Cropping</a></li>
                  </ul>
                  <!--footer_ul_amrc ends here-->
              </div>

          </div>
      </div>

      <div class="container">
          <!--foote_bottom_ul_amrc ends here-->
          <p class="text-center">Copyright @2023 | Designed With by Edit Video</a></p>

          <ul class="social_footer_ul">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <!--social_footer_ul ends here-->
      </div>

  </footer>
  </div>
  <!-- Footer -->
<!--    <div class="footer">-->
<!--        <div class="footer-child"></div>-->
<!--        <div class="features-parent">-->
<!--          <div class="features">Features</div>-->
<!--          <div class="our-features">Our Features</div>-->
<!--          <div class="pricing">Pricing</div>-->
<!--          <div class="affiliate-program">Affiliate Program</div>-->
<!--          <div class="press-kit">Press Kit</div>-->
<!--        </div>-->
<!--        <div class="support-parent">-->
<!--          <div class="features">Support</div>-->
<!--          <div class="account">Account</div>-->
<!--          <div class="help">Help</div>-->
<!--          <div class="contact-us">Contact Us</div>-->
<!--        </div>-->
<!--        <div class="legal-parent">-->
<!--          <div class="legal">Legal</div>-->
<!--          <div class="privacy-policy">Privacy Policy</div>-->
<!--          <div class="terms-of-use">Terms of Use</div>-->
<!--        </div>-->
<!--        <div class="social-media-parent">-->
<!--          <div class="social-media">Social Media</div>-->
<!--          <div class="twitter">Twitter</div>-->
<!--          <div class="product-hunt">Product Hunt</div>-->
<!--          <div class="instagram">Instagram</div>-->
<!--          <div class="github">Github</div>-->
<!--        </div>-->
<!--        <div class="copyright-2023-editvideo">Copyright 2023 @editvideo</div>-->
<!--    </div>-->
    <script src="{% static 'clients/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'clients/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'clients/js/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'clients/bootstrap/js/bootstrap.js' %}"></script>
    <script>

        $(document).on("scroll", function(){
            if
            ($(document).scrollTop() > 86){
                $("#navbar").addClass('background-primary');
                $("#navbar .navbar-title").addClass('text-white');
            }
            else
            {
                $("#navbar").removeClass('background-primary');
                $("#navbar .navbar-title").removeClass('text-white');
            }
        });
    </script>
  </body>
</html>