{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'clients/css/cut_video.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google Sans:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" />
</head>

<body>
    <div class="cutvideo">
        <div class="nav1">
            <div class="edit-video1">Edit video</div>
            <div class="tool1">Tool</div>
            <div class="resources1">Resources</div>
            <img class="nav-inner" alt="" src="{% static 'clients/images/vector-114@2x.png" ' %}" />

        <div class="rectangle-div"></div>
        <div class="sign-in1">
          <a href="{% url 'signin'%}">Sign in</a>
        </div>
      </div>
      <div class="hero1">
        <img class="decore-icon1" alt="" src="{% static 'clients/images/decore@2x.png ' %}" />

        <div class="top-nav1">
          <img class="logo-icon1" alt="" src="{% static 'clients/images/logo@2x.png ' %}" />

          <div class="nav-item6">Bookings</div>
          <div class="nav-item7">Flights</div>
          <div class="nav-item8">Hotels</div>
          <div class="nav-item9">Desitnations</div>
          <div class="nav-item10">Login</div>
          <div class="button1">
            <div class="sign-up1">Sign up</div>
            <div class="button-item"></div>
          </div>
          <div class="dropdown1">
            <div class="en1">EN</div>
            <img class="dropdown-item" alt="" src="{% static 'clients/images/vector-1@2x.png ' %}" />
          </div>
        </div>
        <div class="hero-content1">
          <div class="desc2">
            <div class="desc3">Trim the necessary part of your video</div>
            <b class="heading1">Video Cutter Online</b>
          </div>
          <img class="image-icon4" alt="" src="{% static 'clients/images/image@2x.png ' %}" />
        </div>
      </div>
      <div class="cta-group">
        <button></button>
        <div class="cta4">
          <div class="cta4">
            <div class="cta-inner"></div>
          </div>
        </div>
        <div class="choose-file1">Choose file</div>
        <img class="add-1-icon1" alt="" src="{% static 'clients/images/add-1@2x.png ' %}" /> 
      </div>
      <div class="card-parent">
        <div class="card3">
          <div class="base3"></div>
          <img class="image-icon5" alt="" src="{% static 'clients/images/image@2x.png ' %}" />

          <div class="fast-video-cutting-container">
            <p class="fast-video-cutting">Fast Video Cutting</p>
          </div>
          <img
            class="frame-icon"
            alt=""
            src="{% static 'clients/images/frame-427319047@2x.png ' %}"
          />

          <div class="the-tool-allows">
            The tool allows you to move the two markers to select the beginning
            and ending of your clip. It takes just a few seconds!
          </div>
        </div>
        <div class="card4">
          <div class="base3"></div>
          <img class="image-icon5" alt="" src="{% static 'clients/images/image@2x.png ' %}" />

          <div class="fast-video-cutting-container">Completely Online</div>
          <div class="you-dont-need-container">
            <p class="fast-video-cutting">
              You don't need to download or install anything on your device, that is not only faster but also more secure. </p>
        </div>
        <img class="card-child1" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />
    </div>
    <div class="card5">
        <div class="base3"></div>
        <img class="image-icon5" alt="" src="{% static 'clients/images/image@2x.png' %}" />

        <div class="easy-to-use">
            <p class="fast-video-cutting">Easy-to-use</p>
        </div>
        <img class="card-child2" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />

        <div class="you-dont-need-container1">
            <p class="fast-video-cutting">
                You don't need any experience in video editing to use the online service because its interface is intuitive.
            </p>
        </div>
        <div class="material-symbolsarrow-right-a"></div>
    </div>
    </div>
    <div class="how-to-cut-a-video-online-parent">
        <b class="how-to-cut-container">
          <p class="fast-video-cutting">How to cut a video online</p>
        </b>
        <div class="k-peoples3">
            <div class="step-1-upload-a-recording-or-parent">
                <div class="step-1-upload">Step 1: Upload a recording or movie</div>
                <div class="add-a-video">
                    Add a video to the subtitler: from your computer, a camera roll on your smartphone, or from a cloud. The tool accepts 500 MB for free
                </div>
            </div>
        </div>
        <div class="k-peoples4">
            <div class="step-2-create-a-video-container">
                <div class="step-1-upload">Step 2: Create a video</div>
            </div>
        </div>
        <div class="k-peoples5">
            <div class="step-2-create-a-video-container">
                <div class="step-1-upload">Step 3: Save the result</div>
            </div>
        </div>
        <img class="image-47-icon1" alt="" src="{% static 'clients/images/image-47@2x.png' %}" />
    </div>
    <div class="image-45-group">
        <img class="image-45-icon1" alt="" src="{% static 'clients/images/image-45@2x.png' %}" />

        <div class="search-column1">
            <div class="search-column-item"></div>
            <div class="insert-your-email1">Insert your email address</div>
            <img class="button-search-icon1" alt="" src="{% static 'clients/images/button-search@2x.png' %}" />
        </div>
        <div class="have-a-too-container1">
            <p class="fast-video-cutting">
                Have a too large file for uploading to Instagram, Facebook, YouTube, or for sending via Email? It's not a problem anymore, with our tool you can easily make your video smaller without losing quality! interface is user-friendly so you don't need to have
                any special video editing skills to use it!
            </p>
            <p class="fast-video-cutting">&nbsp;</p>
        </div>
        <div class="contact-us-if1">
            Contact us if you are interested in working with us
        </div>
    </div>
    <div class="footer1">
        <div class="footer-item"></div>
        <div class="features-group">
            <div class="features1">Features</div>
            <div class="our-features1">Our Features</div>
            <div class="pricing1">Pricing</div>
            <div class="affiliate-program1">Affiliate Program</div>
            <div class="press-kit1">Press Kit</div>
        </div>
        <div class="support-group">
            <div class="features1">Support</div>
            <div class="account1">Account</div>
            <div class="help1">Help</div>
            <div class="contact-us1">Contact Us</div>
        </div>
        <div class="legal-group">
            <div class="legal1">Legal</div>
            <div class="privacy-policy1">Privacy Policy</div>
            <div class="terms-of-use1">Terms of Use</div>
        </div>
        <div class="social-media-group">
            <div class="social-media1">Social Media</div>
            <div class="twitter1">Twitter</div>
            <div class="product-hunt1">Product Hunt</div>
            <div class="instagram1">Instagram</div>
            <div class="github1">Github</div>
        </div>
        <div class="copyright-2023-editvideo1">Copyright 2023 @editvideo</div>
    </div>
    <div class="cutvideo-child"></div>
    <img class="magnifying-glass-1-2" alt="" src="{% static 'clients/images/magnifyingglass-1-2@2x.png' %}" />

    <div class="cta-container">
        <div class="cta6">
            <div class="cta6">
                <div class="cta-child1"></div>
            </div>
        </div>
        <div class="upload1">Upload</div>
    </div>
    <div class="cutvideo-item"></div>
    </div>
</body>

</html>