{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'clients/css/cut_tool.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" />
</head>

<body>
    <div class="cut-video">
        <div class="cut-video-child">
            <video class="video-upload" width="550" height="330" controls>
                <source src="{{ video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="cut-video-inner">
            <div class="rewind"><i class="fa-solid fa-backward"></i></div>
            <div class="play"><i class="fa-solid fa-play"></i></div>
            <div class="forward"><i class="fa-solid fa-forward"></i></div>
        </div>

        <img class="rectangle-icon" alt="" src="{% static 'clients/images/rectangle-194@2x.png' %}" />
        {% if video_url %}
        <div class="cut-video-child1">
            <video id="video-edit" width="400" height="240" controls>
                <source src="{{ preview_video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% else %}

        <div class="cut-video-child1">
        </div>
        {% endif %}

        <form action="{% url 'clients:cut_tool' id=id %}" method='POST'>
            {% csrf_token %}
            <div class="starttime-parent">
                <div class="starttime">Starttime:</div>
                <div class="endtime">Endtime:</div>
                <div class="input-start">
                    <input name="start" id="start" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="00:00:00" required>
                </div>
                <div class="input-end">
                    <input name="end" id="end" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="00:00:00" required>
                </div>
                <input type="hidden" name="full_path" value="{{ full_path }}"/>

            </div>
            <div class="rectangle-container">
                <button type="submit" class="preview-button">Preview</button>
            </div>
            <div class="cut-video-child5"></div>
            <div class="rectangle-parent5">
                <button class="export-button">Export</button>
            </div>
        </form>
        <div class="rectangle-parent6">
            <div class="group-child8"></div>
            <div class="final-output-group">
                <div class="final-output1">Final output:</div>
                <div class="div7">
                    <input name="output" id="output" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="00:00:00" required>
                </div>
            </div>
        </div>
        <div class="home-wrapper" id="frameContainer1">
            <div class="home"><a href="{% url 'clients:home' %}">Home</a></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".play").on("click", function() {
                var video = $(".video-upload")[0];
                var button = $(this);
                var icon = button.find("i");
                if (video.paused) {
                    video.play();
                    icon.removeClass("fa-play").addClass("fa-pause");
                } else {
                    video.pause();
                    icon.removeClass("fa-pause").addClass("fa-play");
                }
            });

            $(".rewind").on("click", function() {
                var video = $(".video-upload")[0];
                video.currentTime -= 5;
            });

            $(".forward").on("click", function() {
                var video = $(".video-upload")[0];
                video.currentTime += 5;
            });
        });

        const video = document.querySelector('.video-upload');
        const startInput = document.querySelector('#start');
        const endInput = document.querySelector('#end');
        const outputInput = document.querySelector('#output');

        video.addEventListener('play', () => {
            startInput.value = formatTime(video.currentTime);
        });

        video.addEventListener('pause', () => {
            endInput.value = formatTime(video.currentTime);
        });

        video.addEventListener('loadedmetadata', () => {
            outputInput.value = formatTime(video.duration);
        });


        function formatTime(time) {
            const hours = Math.floor(time / 3600);
            const minutes = Math.floor((time % 3600) / 60);
            const seconds = Math.floor(time % 60);
            return `${padZero(hours)}:${padZero(minutes)}:${padZero(seconds)}`;
        }

        function padZero(number) {
            return number < 10 ? `0${number}` : number;
        }
    </script>
</body>

</html>