 {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{% static 'clients/css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'clients/css/index.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap" />
</head>

<body>
    <div class="index1">
        <img class="pexels-jessica-lewis-593324-2-icon" alt="" src="{% static 'clients/images/pexelsjessicalewis593324-2@2x.png' %}" />

        <div class="nav">
            <div class="edit-video-wrapper">
                <div class="edit-video">Edit video</div>
            </div>
            <div class="tool">Tool</div>
            <div class="about-us">About Us</div>
            <div class="contact">Contact</div>
            <div class="resources">Resources</div>
            <img class="nav-child" alt="" src="{% static 'clients/images/vector-114@2x.png' %}" />
            <div class="nav-item"></div>
            <div class="sign-in-wrapper" id="frameContainer1">
                <div class="sign-in">
                    <a href="{% url 'signin'%}">Sign in</a>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="make-your-interior">
                Make Your Interior More Minimaistic & Modern
            </div>
            <div class="all-in-one-easy-to-use-online">
                All-in-one easy-to-use online video tools
            </div>
            <div class="search-column">
                <div class="search-column-child"></div>
                <div class="search">Search</div>
                <img class="button-search-icon" alt="" src="{% static 'clients/images/button-search@2x.png' %}" />
            </div>
        </div>
        <div class="reason">
            <div class="why-choosing-us-container">
                <p class="why">Why</p>
                <p class="why">Choosing Us</p>
            </div>
            <div class="reason-child"></div>
            <div class="reason-item"></div>
            <div class="reason-inner"></div>
            <div class="completely-online">
                <p class="why">Completely Online</p>
            </div>
            <div class="free">
                <p class="why">Free</p>
            </div>
            <div class="powerful">
                <p class="why">Powerful</p>
            </div>
            <div class="there-is-no">
                There is no need to download and install any app to your phone, tablet or computer — use the online Clideo tools instead.
            </div>
            <div class="kapwing-is-completely">
                Kapwing is completely free to start. Just upload a video and start editing. Supercharge your editing workflow with our powerful online tools.
            </div>
            <div class="kapwing-works-hard">
                Kapwing works hard to help make the content you want, when you want it. Get started on your project today.
            </div>
            <div class="more-info-parent">
                <div class="more-info">more info</div>
                <img class="group-child" alt="" src="{% static 'clients/images/arrow-1@2x.png' %}" />
            </div>
            <div class="more-info-group">
                <div class="more-info1">more info</div>
                <img class="group-item" alt="" src="{% static 'clients/images/arrow-2@2x.png' %}" />
            </div>
            <div class="more-info-container">
                <div class="more-info2">more info</div>
                <img class="group-inner" alt="" src="{% static 'clients/images/arrow-3@2x.png' %}" />
            </div>
        </div>
        <div class="tittle">
            <div class="rectangle-parent">
                <div class="rectangle-div"></div>
                <div class="populor-wrapper">
                    <div class="populor">Populor</div>
                </div>
            </div>
            <div class="new">New</div>
            <div class="online-video-tools">Online Video Tools</div>
        </div>
        <div class="index1-inner" id="groupContainer6">
            <div class="rectangle-group">
                <div class="group-child1"></div>
                <div class="video-editor">Video editor</div>
                <div class="group-child2"></div>
                <div class="k-monthly-users-container">
                    <span class="span">10</span>
                    <span class="k-monthly-users">K+ Monthly users</span>
                </div>
                <img class="video-and-audio-1-icon" alt="" src="{% static 'clients/images/videoandaudio-1@2x.png' %}" />
            </div>
        </div>
        <div class="rectangle-container">
            <div class="group-child1"></div>
            <div class="add-subtitles">Add subtitles</div>
            <div class="group-child4"></div>
            <div class="k-monthly-users-container1">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="add-text-1-icon" alt="" src="{% static 'clients/images/addtext-1@2x.png' %}" />
        </div>
        <div class="group-div">
            <div class="group-child1"></div>
            <div class="crop">Crop</div>
            <div class="group-child4"></div>
            <div class="k-monthly-users-container1">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="crop-1-icon" alt="" src="{% static 'clients/images/crop-1@2x.png' %}" />
        </div>
        <div class="rectangle-parent1">
            <div class="group-child1"></div>
            <div class="add-music">Add Music</div>
            <div class="group-child4"></div>
            <div class="k-monthly-users-container1">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="add-video-1-icon" alt="" src="{% static 'clients/images/addvideo-1@2x.png' %}" />
        </div>
        <div class="rectangle-parent2">
            <div class="group-child1"></div>
            <div class="compress">Compress</div>
            <div class="group-child10"></div>
            <div class="k-monthly-users-container">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="collapse-1-icon" alt="" src="{% static 'clients/images/collapse-1@2x.png' %}" />
        </div>
        <div class="rectangle-parent3">
            <div class="group-child1"></div>
            <div class="flip">Flip</div>
            <div class="group-child4"></div>
            <div class="k-monthly-users-container1">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="reflect-1-icon" alt="" src="{% static 'clients/images/reflect-1@2x.png' %}" />
        </div>
        <div class="rectangle-parent4">
            <div class="group-child1"></div>
            <div class="cut">Cut</div>
            <div class="group-child4"></div>
            <div class="k-monthly-users-container1">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="cutting-tool-1-icon" alt="" src="{% static 'clients/images/cuttingtool-1@2x.png' %}" />
        </div>
        <div class="rectangle-parent5">
            <div class="group-child1"></div>
            <div class="merge">Merge</div>
            <div class="group-child4"></div>
            <div class="k-monthly-users-container1">
                <span class="span">10</span>
                <span class="k-monthly-users">K+ Monthly users</span>
            </div>
            <img class="collapse-1-icon" alt="" src="{% static 'clients/images/merged-1@2x.png' %}" />
        </div>
        <div class="about">
            <div class="about-inner">
                <div class="get-started-video-editer-wrapper" id="frameContainer2">
                    <div class="get-started-video-editer">
                        <div class="get-started-video-editer-child"></div>
                        <div class="get-started">Get Started</div>
                    </div>
                </div>
            </div>
            <div class="your-all-in-one-online">
                Your all-in-one online video editor
            </div>
            <div class="make-your-own">
                Make your own video from scratch, edit it and add music — all in one screen! Our seamless video editor allows you to manage the added media easily with the help of a multi-track timeline.
            </div>
            <img class="unsplashtqpypka92k8-icon" alt="" src="{% static 'clients/images/unsplashtqpypka92k8@2x.png' %}" />

            <div class="rectangle-parent6">
                <div class="group-child17"></div>
                <div class="parent">
                    <div class="div">5000+</div>
                    <div class="monthly-users">Monthly users</div>
                </div>
            </div>
        </div>
        <div class="made-with-our">Made with our tools</div>
        <div class="rectangle-parent7">
            <div class="group-child18"></div>
            <div class="rectangle-parent8">
                <div class="group-child19"></div>
                <div class="cut-wrapper">
                    <div class="cut1">Cut</div>
                </div>
            </div>
            <div class="meme">Meme</div>
            <div class="speed">Speed</div>
        </div>
        <div class="rectangle-parent9">
            <div class="group-child20"></div>
            <img class="unsplash7uxn7nudorc-icon" alt="" src="{% static 'clients/images/unsplash7uxn7nudorc@2x.png' %}" />

            <div class="feb-2022">14 FEB 2022</div>
            <div class="rectangle-parent10">
                <div class="group-child21"></div>
                <div class="lita">Lita</div>
            </div>
            <div class="video-editor1">Video editor</div>
            <div class="rectangle-parent11">
                <div class="group-child22"></div>
                <div class="try-now">Try Now</div>
            </div>
        </div>
        <div class="rectangle-parent12">
            <div class="group-child20"></div>
            <img class="unsplash7uxn7nudorc-icon" alt="" src="{% static 'clients/images/unsplashhuk2w9fajw@2x.png' %}" />

            <div class="jun-2022">18 JUN 2022</div>
            <div class="rectangle-parent13">
                <div class="group-child24"></div>
                <div class="jessica">Jessica</div>
            </div>
            <div class="video-editor2">Video editor</div>
            <div class="rectangle-parent11">
                <div class="group-child22"></div>
                <div class="try-now1">Try Now</div>
            </div>
        </div>
        <div class="rectangle-parent15">
            <div class="group-child20"></div>
            <img class="unsplash7uxn7nudorc-icon" alt="" src="{% static 'clients/images/unsplashyui5vfkhuzs@2x.png' %}" />

        <div class="dec-2022">22 DEC 2022</div>
        <div class="video-editor3">Video editor</div>
        <div class="rectangle-parent11">
          <div class="group-child22"></div>
          <div class="try-now1">Try Now</div>
        </div>
        <div class="rectangle-parent10">
          <div class="group-child21"></div>
          <div class="kevin">Kevin</div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-child"></div>
        <div class="copyright-2023-videoeditor">
          Copyright 2023 @videoeditor
        </div>
      </div>
      <div class="features-parent">
        <div class="features">Features</div>
        <div class="our-features">Our Features</div>
        <div class="pricing">Pricing</div>
        <div class="affiliate-program">Affiliate Program</div>
        <div class="press-kit">Press Kit</div>
      </div>
      <div class="support-parent">
        <div class="support">Support</div>
        <div class="account">Account</div>
        <div class="help">Help</div>
        <div class="contact-us">Contact Us</div>
      </div>
      <div class="legal-parent">
        <div class="legal">Legal</div>
        <div class="privacy-policy">Privacy Policy</div>
        <div class="terms-of-use">Terms of Use</div>
      </div>
      <div class="social-media-parent">
        <div class="social-media">Social Media</div>
        <div class="twitter">Twitter</div>
        <div class="product-hunt">Product Hunt</div>
        <div class="instagram">Instagram</div>
        <div class="github">Github</div>
      </div>
      <div class="mi-tn-wrapper" id="frameContainer4">
        <div class="mi-tn">
          <a class="all-tools"  href="{% url 'all_tools'%}">All tools</a>
          <img class="mi-tn-child" alt="" src="{% static 'clients/images/arrow-2@2x.png' %}" />
        </div>
      </div>
    </div>

</body>

</html>