{% extends "clients/base_tool.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'clients/css/loop_video.css' %}" />
{% endblock stylesheets %}
{% block content %}
<div class="h-100">
    <div class="row content-tool h-100">
        <div class="col col-12 h-100">
            <i class="btn-back fas fa-chevron-left"></i>
            <div class="row edit-wrapper">
                <div class="edit-video_content d-flex justify-content-center align-items-center col col-md-6 col-sm-12">
                    <div class="video-wrapper">
                        <video class="video-upload" width="100%">
                            <source src="{{ video_url }}" type="video/mp4">
                        </video>
                        <div class="media-controls d-flex text-center mt-4"><!---->
                            <div class="flex-grow-1 text-left text-white btn-mute"><i class="fas fa-volume-up"></i></div>
                            <div class="mc-box-center btn-play"><i class="fas fa-play"></i></div>
                            <div class="flex-grow-1 text-white">
                                <div class="mc-time text-right"><span class="video-time-current">00:00</span> <span
                                        class="mc-time-divider">/</span> <span class="video-time-total">00:00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="preview-video_content col col-md-6 col-sm-12">
                    <div class="preview-video">
                        <form>
                            {% csrf_token %}
                            <input type="hidden" id="video_path" name="full_path" value="{{ full_path }}"/>
                            <input type="hidden" id="id" name="id" value="{{ id }}"/>
                            <video id="video-preview" width="100%" controls>
                                <source src="{{ preview_video }}" type="video/mp4">
                            </video>
                            <div class="sidebar-section flex-md-fill">
                                <a class="btn btn-black btn-loop">1x</a>
                                <a class="btn btn-black btn-loop">2x</a>
                                <a class="btn btn-black btn-loop">3x</a>
                                <a class="btn btn-black btn-loop">4x</a>
                                <a class="btn btn-black btn-loop">5x</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 editor-footer">
            <div class="editor-settings flex-grow-1 col-10">
                <div class="form-group"><span class="text-muted">Final output</span> <span class="text-muted">—</span>
                    <span class="video-duration"></span></div> <!---->
                <div class="form-group"><span class="text-muted font-weight-normal">Format</span> <span
                        class="text-muted">—</span> <!---->
                    <div class="dropup">
                        <div id="vFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             data-display="static" class="form-control form-control-sm form-select border-hover"><span
                                class="selected-option">MP4</span></div>
                        <div aria-labelledby="vFormat" class="dropdown-menu">
                            <div class="scroll-wrapper dropdown-menu-inner scrollbar-custom" style="position: relative;">
                                <div class="dropdown-menu-inner scrollbar-custom scroll-content scroll-scrolly_visible"
                                     style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 272px;"><a
                                        class="dropdown-item">
                                    3G2
                                </a><a class="dropdown-item">
                                    3GP
                                </a><a class="dropdown-item">
                                    AVI
                                </a><a class="dropdown-item">
                                    ASF
                                </a><a class="dropdown-item">
                                    F4V
                                </a><a class="dropdown-item">
                                    FLV
                                </a><a class="dropdown-item">
                                    M2TS
                                </a><a class="dropdown-item">
                                    M2V
                                </a><a class="dropdown-item">
                                    M4V
                                </a><a class="dropdown-item">
                                    MKV
                                </a><a class="dropdown-item">
                                    MOV
                                </a><a class="dropdown-item active">
                                    MP4
                                </a><a class="dropdown-item">
                                    MPG
                                </a><a class="dropdown-item">
                                    MPEG
                                </a><a class="dropdown-item">
                                    MTS
                                </a><a class="dropdown-item">
                                    MXF
                                </a><a class="dropdown-item">
                                    OGV
                                </a><a class="dropdown-item">
                                    RM
                                </a><a class="dropdown-item">
                                    RMVB
                                </a><a class="dropdown-item">
                                    TS
                                </a><a class="dropdown-item">
                                    VOB
                                </a><a class="dropdown-item">
                                    WEBM
                                </a><a class="dropdown-item">
                                    WMV
                                </a></div>
                                <div class="scroll-element scroll-x scroll-scrolly_visible">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar" style="width: 0px;"></div>
                                    </div>
                                </div>
                                <div class="scroll-element scroll-y scroll-scrolly_visible">
                                    <div class="scroll-element_outer">
                                        <div class="scroll-element_size"></div>
                                        <div class="scroll-element_track"></div>
                                        <div class="scroll-bar" style="height: 93px; top: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!---->
            <div class="editor-button col-2 mr-auto text-right">
                <button type="button" class="btn btn-export">
                    Export
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'clients/js/common.js' %}"></script>
<script>
    $('.time-input').on('change', function() {
        var inputValue = $(this).val();
        if (!validateTimeFormat(inputValue)) {
            alert('Please enter a valid time in HH:mm:ss format');
            $(this).val('00:00:00')
        } else {
        }
    });

    function validateTimeFormat(value) {
        return /^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/.test(value);
    }
    $(document).ready(function() {
        $('.btn-loop').on("click", function() {
            const previewContent = $('.preview-video_content');
            let video_path = previewContent.find('#video_path').val();
            let id = previewContent.find('#id').val();
            let loop = $(this).text();
            if (video_path) {
                let params = {
                    'id': id,
                    'loop': loop,
                    'full_path': video_path,
                }
                $.ajax({
                    url: `/loop_tool/${id}/`,
                    type: 'POST',
                    beforeSend: function() {
                        $.LoadingOverlay("show");
                    },
                    headers: {'X-CSRFToken': previewContent.find('input[name="csrfmiddlewaretoken"]').val()},
                    data: params
                }).done(function(res) {
                    let video = $('#video-preview');
                    let source = `<source src="${res.preview_video}" type="video/mp4">`;
                    video.html(source)
                    video[0].load();
                    video[0].play();
                    $.LoadingOverlay("hide");
                }).fail(function(xhr, status) {
                    if (status === 'error') {
                        alert('Handle preview error, Please try again');
                        $.LoadingOverlay("hide");
                    }
                });
            }
        })
    });
</script>
{% endblock script %}