{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'clients/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'clients/css/merge_video.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Google Sans:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="mergevideo">
      <div class="nav">
        <div class="edit-video">Edit video</div>
        <div class="tool">Tool</div>
        <div class="resources">Resources</div>
        <img class="nav-child" alt="" src="{% static 'clients/images/vector-114@2x.png' %}" />

        <div class="nav-item"></div>
        <div class="sign-in">Sign in</div>
      </div>
      <div class="mergevideo-child"></div>
      <img
        class="magnifying-glass-1-1"
        alt=""
        src="{% static 'clients/images/magnifyingglass-1-1@2x.png' %}"
      />

      <div class="hero">
        <img class="decore-icon" alt="" src="{% static 'clients/images/decore@2x.png' %}" />

        <div class="top-nav">
          <img class="logo-icon" alt="" src="{% static 'clients/images/logo@2x.png' %}" />

          <div class="nav-item1">Bookings</div>
          <div class="nav-item2">Flights</div>
          <div class="nav-item3">Hotels</div>
          <div class="nav-item4">Desitnations</div>
          <div class="nav-item5">Login</div>
          <div class="button">
            <div class="sign-up">Sign up</div>
            <div class="button-child"></div>
          </div>
          <div class="dropdown">
            <div class="en">EN</div>
            <img class="dropdown-child" alt="" src="{% static 'clients/images/vector-1@2x.png' %}" />
          </div>
        </div>
        <div class="hero-content">
          <div class="desc">
            <div class="cta">
              <div class="cta1">
                <div class="cta-child"></div>
              </div>
            </div>
            <div class="desc1">
              Combine multiple videos, images and add audio
            </div>
            <b class="heading">
              <p class="merge-videos">Merge Videos</p>
            </b>
          </div>
          <img class="image-icon" alt="" src="{% static 'clients/images/image@2x.png' %}" />
        </div>
      </div>
      <div class="choose-file">Choose file</div>
      <img class="add-1-icon" alt="" src="{% static 'clients/images/add-1@2x.png' %}" />

      <b class="how-to-use-container">
        <p class="merge-videos">How to use the video merger</p>
      </b>
      <div class="k-peoples">
        <div class="step-1-get-started-parent">
          <div class="step-1-get">Step 1: Get started</div>
          <div class="upload-all-the">
            Upload all the pics, videos and audio you want to the editor. You
            can choose them from your device, Google Drive and Dropbox storage
            account. If you want to make a video from scratch, just proceed to
            the next step.
          </div>
        </div>
      </div>
      <div class="k-peoples1">
        <div class="step-2-create-a-video-wrapper">
          <div class="step-1-get">Step 2: Create a video</div>
        </div>
      </div>
      <div class="k-peoples2">
        <div class="step-2-create-a-video-wrapper">
          <div class="step-1-get">Step 3: Save the result</div>
        </div>
      </div>
      <img class="image-47-icon" alt="" src="{% static 'clients/images/image-47@2x.png' %}" />

      <div class="card">
        <div class="base"></div>
        <img class="image-icon1" alt="" src="{% static 'clients/images/image@2x.png' %}" />

        <div class="easy-video-merging">Easy Video Merging</div>
        <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />

        <div class="instantly-upload-any">
          Instantly upload any number of videos or images and combine them with
          one click.
        </div>
      </div>
      <div class="card1">
        <div class="base"></div>
        <img class="image-icon1" alt="" src="{% static 'clients/images/image@2x.png' %}" />

        <div class="easy-video-merging">Secure Encryption</div>
        <div class="instantly-upload-any">
          In-person and online events that bring together universities, experts
          and more.
        </div>
        <img class="card-item" alt="" src="{% static 'clients/images/frame-427319049@2x.png' %}" />
      </div>
      <div class="card2">
        <div class="base"></div>
        <img class="image-icon1" alt="" src="{% static 'clients/images/image@2x.png' %}" />

        <div class="easy-video-merging">Check Preview</div>
        <img class="card-child" alt="" src="{% static 'clients/images/frame-427319047@2x.png' %}" />

        <div class="instantly-upload-any">
          Narrow down your university search by answering a series of focused
          questions.
        </div>
      </div>
      <div class="image-45-parent">
        <img class="image-45-icon" alt="" src="{% static 'clients/images/image-45@2x.png' %}" />

        <div class="search-column">
          <div class="search-column-child"></div>
          <div class="insert-your-email">Insert your email address</div>
          <img
            class="button-search-icon"
            alt=""
            src="{% static 'clients/images/button-search@2x.png' %}"
          />
        </div>
        <div class="have-a-too-container">
          <p class="merge-videos">
            Have a too large file for uploading to Instagram, Facebook, YouTube,
            or for sending via Email? It's not a problem anymore, with our tool
            you can easily make your video smaller without losing quality!
          </p>
          <p class="merge-videos">
            Clideo's interface is user-friendly so you don't need to have any
            special video editing skills to use it!
          </p>
          <p class="merge-videos">&nbsp;</p>
          <p class="merge-videos">
            Contact us if you are interested in working with us
          </p>
        </div>
      </div>
      <div class="cta-parent">
        <div class="cta2">
          <div class="cta2">
            <div class="cta-item"></div>
          </div>
        </div>
        <div class="upload">Upload</div>
      </div>
      <div class="footer">
        <div class="footer-child"></div>
        <div class="features-parent">
          <div class="features">Features</div>
          <div class="our-features">Our Features</div>
          <div class="pricing">Pricing</div>
          <div class="affiliate-program">Affiliate Program</div>
          <div class="press-kit">Press Kit</div>
        </div>
        <div class="support-parent">
          <div class="features">Support</div>
          <div class="account">Account</div>
          <div class="help">Help</div>
          <div class="contact-us">Contact Us</div>
        </div>
        <div class="legal-parent">
          <div class="legal">Legal</div>
          <div class="privacy-policy">Privacy Policy</div>
          <div class="terms-of-use">Terms of Use</div>
        </div>
        <div class="social-media-parent">
          <div class="social-media">Social Media</div>
          <div class="twitter">Twitter</div>
          <div class="product-hunt">Product Hunt</div>
          <div class="instagram">Instagram</div>
          <div class="github">Github</div>
        </div>
        <div class="copyright-2023-editvideo">Copyright 2023 @editvideo</div>
      </div>
      <div class="mergevideo-item"></div>
    </div>
  </body>
</html>
