.content-advantage .card {
    height: 350px;
}
.file-source-btn label.file-btn {
    align-items: center;
    justify-content: center;
}
.file-source-btn {
    width: 50%;
}

.preview-video .sidebar-section {
    text-align: center;
    display: flex;
    justify-content: center;
}