.content-upload_subtitle {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-upload_subtitle .file-source-btn {
    display: flex;
    width: 200px;
    justify-content: center;
}
.file-source-btn label.file-btn {
    background-image: none;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.editor-sidebar .sidebar-scroll {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.editor-sidebar .sidebar-inner {
    min-height: 100%;
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.editor-sidebar .sidebar-inner>* {
    order: 1;
}
.sub-card.active {
    background-color: #2c2c31;
}
.sub-card.current {
    background-color: #202024;
}
.sub-card {
    padding: 10px 20px 10px 14px;
}
.sub-card {
    border-top: 1px solid #151519;
    display: flex;
    padding: 10px 12px;
    position: relative;
    width: 100%;
}
.sub-card:first-child {
    border-width: 0;
}
.sub-card .sub-time {
    margin-right: 8px;
}
.sub-card.active .sub-time .form-control, .sub-card:hover .sub-time .form-control {
    color: hsla(0,0%,100%,.6);
}
.sub-card .sub-time .form-control {
    color: hsla(0,0%,100%,.35);
    display: block;
    font-size: 11px;
    height: 20px;
    line-height: 18px;
    padding: 0 5px;
    text-align: left!important;
    transition: margin .15s;
    width: 62px;
    background-color: transparent;
    border-color: #575759;
    color: #bababc;
    border-radius: 4px;
}

.sub-card .sub-text {
    flex: 1 1 auto;
}

.sub-card.active .sub-text .form-control, .sub-card:hover .sub-text .form-control {
    color: hsla(0,0%,100%,.85);
}
textarea.auto-expand {
    overflow: hidden;
    resize: none;
}
.sub-card .sub-text .form-control {
    color: hsla(0,0%,100%,.6);
    font-size: 12px;
    height: 44px;
    line-height: 18px;
    padding: 3px 7px;
}
.sub-card:not(.active) .form-control {
    background-color: transparent!important;
    border-color: transparent!important;
}
.sub-card .form-control:focus {
    background-color: #202024;
    border-color: #fa7a04!important;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
.scroll-element {
    display: none;
}
.scrollbar-custom>.scroll-element, .scrollbar-custom>.scroll-element div {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.scrollbar-custom>.scroll-element.scroll-x {
    bottom: 0;
    height: 10px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}

.scroll-wrapper>.scroll-content {
    border: none!important;
    box-sizing: content-box!important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none!important;
    overflow-y: scroll!important;
    overflow-x: hidden;
    padding: 0;
    position: relative!important;
    top: 0;
    width: auto!important;
}

.editor-sidebar .sidebar-scroll {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.scrollbar-custom>.scroll-element.scroll-y .scroll-element_outer {
    top: 2px;
}
.scrollbar-custom>.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.scrollbar-custom>.scroll-element, .scrollbar-custom>.scroll-element div {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.sidebar-section {
    border-color: #151519;
    width: 100%;
}
.btn-add-section:hover {
    background-color: #2c2c31;
}
.btn-add-section.sidebar-section {
    align-items: center;
}

.editor-sidebar .sidebar-inner>* {
    order: 1;
}
.btn-add-section>.btn {
    background-color: transparent;
    border: none;
    color: #fa7a04!important;
    padding: 0 2px 0 0;
}

.btn-add-section {
    background-color: transparent;
    border-width: 1px 0 0;
    color: #0a87ff!important;
    padding-bottom: 25px;
     padding-top: 25px;
}

.sub-card .sub-buttons a {
    background-color: rgba(21,21,25,.6);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 21px;
    position: relative;
    transition: none;
    width: 21px;
    color: #ffffff;
}

.sub-card .sub-buttons .sub-del {
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-card .sub-buttons a:hover {
    background-color: #151519;
    text-decoration: none;
}

.sub-card:hover {
    background-color: #192530;
}