.edit-video,
.resources {
    position: absolute;
    display: inline-block;
}

.edit-video {
    top: 5px;
    left: 0;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    color: var(--color-darkorange-100);
    width: 144px;
}

.edit-video a {
    color: inherit;
}

.edit-video a:hover {
    text-decoration: none;
    color: var(--color-darkorange-100);
}

.resources {
    top: 9px;
    left: 838px;
    width: 107px;
}

.sign-in {
    position: absolute;
    top: 2px;
    left: -1px;
    line-height: 200%;
    font-weight: 500;
    width: 66.3px;
    height: 22px;
}

.sign-in a {
    text-decoration: none;
    color: white;
}

.sign-in a:hover {
    text-decoration: none;
    color: white;
}

.sign-in-wrapper {
    position: absolute;
    top: 4px;
    left: 996px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    width: 62px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
}

.dropbtn {
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #000;
    left: 934px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #FB8B24;
    color: #fff;
    text-decoration: none;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

.nav,
.nav-inner {
    position: absolute;
    /* height: 46px;
    width: 46px; */
}

.nav-inner {
    top: 0;
    left: 355px;
    /* border-radius: 50%; */
    /* background-color: var(--color-darkorange-100); */
    /* border: 1px solid #000; */
}

.nav {
    top: 18px;
    left: 89px;
    width: 1174px;
    text-align: left;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
}

.features,
.footer-child {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-child {
    background-color: var(--color-white);
    border: 1px solid var(--color-darkorange-100);
    box-sizing: border-box;
    width: 1280px;
    height: 273px;
}

.features {
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 121px;
    height: 53.2px;
}

.affiliate-program,
.our-features,
.press-kit,
.pricing {
    position: absolute;
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 132.6px;
    height: 39.9px;
}

.affiliate-program,
.press-kit,
.pricing {
    top: 96.8px;
    width: 70.3px;
}

.affiliate-program,
.press-kit {
    top: 137.5px;
    width: 174.1px;
}

.press-kit {
    top: 178.1px;
    width: 85.3px;
}

.account,
.features-parent,
.help {
    position: absolute;
    top: 24.4px;
    left: 176.9px;
    width: 174.1px;
    height: 218px;
}

.account,
.help {
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 94.8px;
    height: 39.9px;
}

.help {
    top: 96.8px;
    width: 51.1px;
}

.contact-us,
.support-parent {
    position: absolute;
    width: 124.7px;
}

.contact-us {
    top: 137.5px;
    left: 0;
    display: inline-block;
    height: 39.9px;
}

.support-parent {
    top: 24.4px;
    left: 456.3px;
    height: 177.4px;
}

.legal,
.privacy-policy,
.terms-of-use {
    position: absolute;
    left: 0;
    display: inline-block;
}

.legal {
    top: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    width: 70.3px;
    height: 53.2px;
}

.privacy-policy,
.terms-of-use {
    top: 56.2px;
    width: 131.9px;
    height: 39.9px;
}

.terms-of-use {
    top: 93.9px;
    white-space: pre-wrap;
    width: 130.8px;
}

.legal-parent,
.social-media {
    position: absolute;
    top: 24.4px;
    left: 744.1px;
    width: 131.9px;
    height: 133.8px;
}

.social-media {
    top: 0;
    left: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 176.8px;
    height: 53.2px;
}

.github,
.instagram,
.product-hunt,
.twitter {
    position: absolute;
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 68.4px;
    height: 39.9px;
}

.github,
.instagram,
.product-hunt {
    top: 93.9px;
    width: 133.4px;
}

.github,
.instagram {
    top: 131.6px;
    width: 107.2px;
}

.github {
    top: 169.3px;
    width: 69.6px;
}

.social-media-parent {
    position: absolute;
    top: 24.4px;
    left: 975.2px;
    width: 176.8px;
    height: 209.2px;
}

.copyright-2023-editvideo {
    position: absolute;
    top: 233.3px;
    left: 508px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 265px;
    height: 39.7px;
}

 .content-box {
    align-items: center;
    display: flex;
    flex-direction: column;
     justify-content: center;
}

.file-source-btn {
    background-color: #fa7a04;
    border-radius: 6px;
    color: #fff;
    position: relative;
    transition: background-color .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.file-source-btn .file-input {
    display: none;
}

.file-source-btn .file-btn {
    background-color: transparent;
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    min-height: 60px;
    padding: 17px 82px 19px 32px;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: background-color .15s ease-in-out;
    width: 100%;
}

.file-source-btn label.file-btn {
    background-image: none;
    display: flex;
    height: 100%;
    padding: 0;
    width: 100%;
}

#loader .file-source-btn label.file-btn>span {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 17px 25px 17px 32px;
    width: 100%;
}

#loader .file-source-btn label.file-btn {
    background-image: none;
    display: flex;
    height: 100%;
    padding: 0;
    width: 100%;
}

.content-upload {
    display: flex;
    justify-content: center;
}
.file-source-btn span {
    font-weight: 700;
}

.add-1-icon1 {
    padding: 0 10px;
}
.content-advantage .card {
    height: 300px;
}
.card-body .card-title {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #262628;
    font-family: Inter,serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    word-break: break-word;
    width: 100%;
}

.card-body .card-text {
    color: #5c5c60;
    font-family: Inter,serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 0;
}
.content-using {
    background-color: #f6f6f7;;
}
.content-using .card {
    margin-bottom: 20px;
    border-radius: 8px;
    transition: background-color .15s ease-in-out;
    cursor: pointer;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "label title"
        "label text";
}
.content-using .card-header button {
    font-family: Inter,serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    transition: color .15s ease-in-out;
    text-transform: uppercase;
}
.content-using .card-header {
    background-color: #fa7a04;
}

.contract-left p {
    font-family: Inter,serif;
    font-size: 16px;
    line-height: 2;
}

.content-box .title h1 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.2px;
    font-weight: 800;
}

.content-box .title h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
    color: #262628;
    margin-top: 50px;
}
.content-box .title {
    margin-bottom: 50px;
}