.choosing-us h1, .online-tools h1 {
    font-family: Inter,serif;
    font-size: 60px;
    font-weight: 700;
}
.choosing-us .card{
    height: 250px;
}
.content-online-tools {
    background: linear-gradient(180deg, #f6f6f7, #fff);
}
.online-tools .card {
    border-radius: 10px;
}
.online-tools a {
    text-decoration: none;
}
.online-tools .item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .09);
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: none;
}
.online-tools .item:hover {
    box-shadow: 0 11px 55px 0 rgba(0,0,0,.13);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: all .15s ease-in-out,z-index 0s;
    z-index: 2;
}
.content-aboutus {
    background-color: #f8f9fa;
}
.content-aboutus .contract-left p {
    font-family: Inter,serif;
    font-size: 22px;
    line-height: 2;
}
.all-tools a {
    color: #fa7a04;
}
.all-tools a i {
    margin-left: 5px;
}

.online-tools .card-title {
    font-weight: 200;
    margin-top: 10px;
}