.content-using h1 {
    margin-bottom: 40px;
    text-align: center;
    font-family: Inter, serif;
}
.btn-black {
    color: #fff;
    background-color: #191a1c;
    border-color: #959ba3;
}
.sidebar-section .btn-black:hover {
    color: #fff;
}