.nav-child {
    position: absolute;
    top: 0;
    left: 1104px;
    border-radius: 50%;
    background-color: var(--color-darkorange);
    width: 46px;
    height: 46px;
}

.sign-in {
    position: absolute;
    top: 2px;
    left: -1px;
    line-height: 200%;
    font-weight: 500;
    display: inline-block;
    width: 66.3px;
    height: 22px;
}

.sign-in-wrapper {
    position: absolute;
    top: 4px;
    left: 996px;
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    width: 62px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
}

.resources {
    position: absolute;
    top: 9px;
    left: 840.7px;
    display: inline-block;
    width: 97.3px;
}

.tools-child {
    top: 13px;
    left: 79.6px;
    width: 5.8px;
    height: 3px;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 9px;
    left: 715px;
    width: 67px;
}

.dropdown-toggle {
    background-color: white;
    color: black;
    transition: color 0.3s;
    border: none;
}

.dropdown-toggle:focus {
    outline: none;
    color: rgb(243, 133, 24);
}

.dropdown-item:focus {
    outline: none;
    color: rgb(243, 133, 24);
}

.dropdown-item {
    background-color: transparent;
}

.dropdown-item:hover {
    background-color: rgb(255, 164, 73);
    color: white;
    margin-left: 10px;
}

.dropdown-item i {
    font-size: 14px;
    margin-left: 12px;
    color: rgb(185 171 158 / 65%);
}

.upload-wrapper {
    position: absolute;
    top: 207px;
    left: 385px;
    border-radius: var(--br-3xs);
    box-sizing: border-box;
    width: 80px;
    height: 25px;
    overflow: hidden;
}

.add-1-icon1 {
    position: absolute;
    top: 18px;
    left: 156px;
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.choose-file-parent {
    position: absolute;
    top: 137px;
    left: 330px;
    width: 201px;
    height: 55.2px;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-white);
}

.choosefile {
    border-radius: var(--br-3xs);
    background-color: var(--color-darkorange);
    position: absolute;
    top: 0;
    left: 0;
    width: 201px;
    height: 55.2px;
    font-weight: 600;
    color: var(--color-white);
    font-size: 17px;
    border: none;
}

.cta6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 25px;
    border-radius: var(--br-3xs);
    box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
    border: 1px solid var(--color-darkorange);
    box-sizing: border-box;
    background-color: var(--color-white);
}

.magnifying-glass-1-2 {
    position: absolute;
    top: 10px;
    left: 167px;
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.magnifying-glass-1-2-wrapper {
    position: absolute;
    top: 6px;
    left: 150px;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 187px;
    height: 32px;
    overflow: hidden;
}

.edit-video {
    top: 5px;
    left: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-darkorange);
    display: inline-block;
    width: 150.5px;
}

.edit-video,
.nav,
.upload {
    position: absolute;
}

.nav {
    top: 30px;
    left: 65px;
    width: 1150px;
    height: 46px;
    font-size: var(--font-size-lg);
}

.desc {
    position: absolute;
    top: 96px;
    left: 0;
    font-size: var(--font-size-base);
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    width: 850px;
}

.merge-videos {
    margin: 0;
}

.heading {
    top: 0;
    left: 128px;
    font-size: 50px;
    letter-spacing: -0.04em;
    line-height: 89px;
    display: inline-block;
    font-family: var(--font-volkhov);
    width: 594px;
}

.base,
.gr1,
.heading {
    position: absolute;
}

.gr1 {
    top: 133px;
    left: 215px;
    width: 850px;
    height: 232px;
    text-align: center;
}

.base {
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 60px 140px -16px rgba(36, 45, 60, 0.12);
    width: 350px;
    height: 400px;
}

.easy-video-merging-container {
    position: absolute;
    top: 180px;
    left: 0;
    font-weight: 600;
    display: inline-block;
    width: 350px;
    height: 51px;
}

.card-child {
    position: absolute;
    top: 50px;
    left: 125px;
    width: 110px;
    height: 110px;
    overflow: hidden;
    object-fit: cover;
}

.instantly-upload-any {
    position: absolute;
    top: 246px;
    left: 36px;
    font-size: var(--font-size-base);
    line-height: 28px;
    color: var(--color-dimgray);
    display: inline-block;
    width: 285px;
    height: 71px;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 400px;
}

.secure-encryption {
    position: absolute;
    top: 180px;
    left: 29px;
    font-weight: 600;
    display: inline-block;
    width: 282px;
    height: 51px;
}

.in-person-and-online {
    position: absolute;
    top: 242.4px;
    left: 35.9px;
    font-size: var(--font-size-base);
    line-height: 28px;
    color: var(--color-dimgray);
    display: inline-block;
    width: 268px;
    height: 70.5px;
}

.card-item {
    position: absolute;
    top: 30px;
    left: 147px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    object-fit: cover;
}

.card1 {
    position: absolute;
    top: 0;
    left: 387px;
    width: 350px;
    height: 400px;
}

.if-you-want-container {
    position: absolute;
    top: 241.4px;
    left: 35.9px;
    font-size: var(--font-size-base);
    line-height: 28px;
    color: var(--color-dimgray);
    display: inline-block;
    width: 268px;
    height: 70.5px;
}

.card2,
.gr2 {
    position: absolute;
    top: 0;
    left: 774px;
    width: 350px;
    height: 400px;
}

.gr2 {
    top: 400px;
    left: 91px;
    width: 1124px;
    text-align: center;
    font-size: var(--font-size-7xl);
}

.step-3-save {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}

.step-2,
.step-3 {
    position: absolute;
    top: 381px;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 0.2px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 634px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl);
}

.step-2 {
    top: 284px;
}

.upload-all-the {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: var(--mrt-app-subheadline);
    display: inline-block;
    width: 529px;
}

.step-1-upload-a-recording-or-parent {
    width: 574px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.step-1 {
    position: absolute;
    top: 125px;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 0.2px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 634px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl);
}

.image-47-icon {
    position: absolute;
    top: 144px;
    left: 719px;
    width: 387px;
    height: 280px;
    object-fit: cover;
}

.how-to-use-container {
    position: absolute;
    top: 0;
    left: 315px;
    font-size: 35px;
    text-transform: capitalize;
    font-family: var(--font-volkhov);
    color: var(--rd);
    text-align: center;
}

.gr3 {
    position: absolute;
    top: 896px;
    left: 109px;
    width: 1106px;
    height: 453px;
    font-size: var(--font-size-base);
    color: var(--mrt-app-headline);
    font-family: var(--font-lexend);
}

.contact-bt-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-color: var(--color-white);
    border: 1px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 341.8px;
    height: 55.8px;
}

.insert-your-email {
    position: absolute;
    top: 14.7px;
    left: 17px;
    line-height: 200%;
    display: inline-block;
    width: 203.3px;
    height: 26px;
}

.send-icon {
    position: absolute;
    top: 10.2px;
    left: 300.8px;
    width: 31.1px;
    height: 32px;
    object-fit: cover;
}

.contact-bt {
    position: absolute;
    top: 259.3px;
    left: 474.2px;
    width: 341.8px;
    height: 55.8px;
}

.have-a-too-container {
    position: absolute;
    top: 0;
    left: 471.7px;
    font-size: var(--font-size-lg);
    line-height: 200%;
    display: inline-block;
    width: 632.3px;
    height: 234.2px;
}

.contact,
.image-45-icon {
    position: absolute;
    height: 329px;
}

.image-45-icon {
    top: 0;
    left: 0;
    width: 408.4px;
    object-fit: cover;
}

.contact {
    top: 1457px;
    left: 101px;
    width: 1104px;
}

.features,
.footer-child {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-child {
    background-color: var(--color-white);
    border: 1px solid var(--color-darkorange);
    box-sizing: border-box;
    width: 1280px;
    height: 251px;
}

.features {
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 121px;
    height: 53.2px;
}

.affiliate-program,
.our-features,
.press-kit,
.pricing {
    position: absolute;
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 132.6px;
    height: 39.9px;
}

.affiliate-program,
.press-kit,
.pricing {
    top: 96.8px;
    width: 70.3px;
}

.affiliate-program,
.press-kit {
    top: 137.5px;
    width: 174.1px;
}

.press-kit {
    top: 178.1px;
    width: 85.3px;
}

.account,
.features-parent,
.help {
    position: absolute;
    top: 15.4px;
    left: 176.9px;
    width: 174.1px;
    height: 218px;
}

.account,
.help {
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 94.8px;
    height: 39.9px;
}

.help {
    top: 96.8px;
    width: 51.1px;
}

.contact-us,
.support-parent {
    position: absolute;
    width: 124.7px;
}

.contact-us {
    top: 137.5px;
    left: 0;
    display: inline-block;
    height: 39.9px;
}

.support-parent {
    top: 15.4px;
    left: 456.3px;
    height: 177.4px;
}

.legal,
.privacy-policy,
.terms-of-use {
    position: absolute;
    left: 0;
    display: inline-block;
}

.legal {
    top: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    width: 70.3px;
    height: 53.2px;
}

.privacy-policy,
.terms-of-use {
    top: 56.2px;
    width: 131.9px;
    height: 39.9px;
}

.terms-of-use {
    top: 93.9px;
    white-space: pre-wrap;
    width: 130.8px;
}

.legal-parent,
.social-media {
    position: absolute;
    top: 15.4px;
    left: 744.1px;
    width: 131.9px;
    height: 133.8px;
}

.social-media {
    top: 0;
    left: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
    display: inline-block;
    width: 176.8px;
    height: 53.2px;
}

.github,
.instagram,
.product-hunt,
.twitter {
    position: absolute;
    top: 56.2px;
    left: 0;
    display: inline-block;
    width: 68.4px;
    height: 39.9px;
}

.github,
.instagram,
.product-hunt {
    top: 93.9px;
    width: 133.4px;
}

.github,
.instagram {
    top: 131.6px;
    width: 107.2px;
}

.github {
    top: 169.3px;
    width: 69.6px;
}

.social-media-parent {
    position: absolute;
    top: 15.4px;
    left: 975.2px;
    width: 176.8px;
    height: 209.2px;
}

.copyright-2023-editvideo {
    position: absolute;
    top: 220px;
    left: 507px;
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 265px;
    height: 39.7px;
}

.footer {
    position: absolute;
    top: 1849px;
    left: 0;
    width: 1280px;
    height: 259.7px;
    font-size: var(--font-size-base);
}

.merge-video {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2100px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}