{% extends 'user_project/base.html' %}
{% load static %}

{% block title %} My Project {% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">My projects</h1>
        <a href="{% url 'clients:all_tools' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa-solid fa-plus"></i> New project</a>
    </div>
    <div class="row">
        {% for user_upload in user_uploads %}
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 src="{{ user_upload.upload.title_video }}" class="m-0 font-weight-bold text-primary">{{user_upload.upload.title_video }}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Action:</div>
                            <a href="{% url 'user_project:delete_video' pk=user_upload.id %}" class="dropdown-item" id="delete-video-btn">Delete Video</a>
                            <a href="{% url 'user_project:download_video' pk=user_upload.id %}" class="dropdown-item" id="delete-video-btn">Download Video</a>
                        </div>
                    </div>
                </div>
                <div class="video-container">
                    <video class="responsive-video" controls>
                        <source src="{{ user_upload.upload.path_video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
