{% extends 'user_project/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block container_fluid %}

<link href="{% static 'user_project/css/sb-admin-2.min.css' %}" rel="stylesheet">
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profile</h1>
    </div>
      <div class="profile-container" id="userProfile">
        <img src="{{ user_profile1.image.url }}" alt="{{ user_profile1.username }}'s image" id="user-image">
        <h2 id="userName">{{ user_profile1.username }}</h2>
        <p id="userEmail">{{ user_profile1.email }}</p>

        <button class="edit-btn" onclick="openEditModal()">Edit</button>
        {% comment %} <button class="delete-btn" onclick="openDeleteModal()">Delete</button> {% endcomment %}
      </div>

      <div id="edit-modal">
        <form method="POST" action="{% url 'user_project:profile' user_profile1.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h2 class="form-name">Edit User Profile</h2>
            <label class="input-image" for="editImage">Image:</label>
            <input class="edit-image" type="file" id="editImage" accept="image/*" name="image">
            <label for="editName">Name:</label>
            <input class="input-name" type="text" id="editName" name="editName" value="{{ user_profile1.username }}">
            <label for="editEmail">Email:</label>
            <input class="input-mail" type="email" id="editEmail" name="editEmail" value="{{ user_profile1.email }}">
            <button class="input-save" type="submit">Save Changes</button>
          </div>
        </form>
      </div>

      {% comment %} <div id="delete-modal">
        <div class="modal-content">
          <span class="close" onclick="closeDeleteModal()">&times;</span>
          <h2>Delete User Profile</h2>
          <p>Are you sure you want to delete this user profile?</p>
          <a href="#" onclick="deleteProfile({{ user.id }})">Delete</a>
        </div>
      </div> {% endcomment %}

      <script>
        function openEditModal() {
          document.getElementById('edit-modal').style.display = 'block';
        }
    
        function closeEditModal() {
          document.getElementById('edit-modal').style.display = 'none';
        }
    
        function openDeleteModal() {
          document.getElementById('delete-modal').style.display = 'block';
        }
    
        function closeDeleteModal() {
          document.getElementById('delete-modal').style.display = 'none';
        }
    
        function deleteProfile() {
          const userProfile = document.getElementById('userProfile');
          userProfile.parentNode.removeChild(userProfile);
          closeDeleteModal();
        }

            function deleteProfile(user_id) {
        if (confirm("Are you sure you want to delete this user profile?")) {
            fetch(`/delete_user/${user_id}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    // Xóa thành công, thực hiện các xử lý khác nếu cần
                    location.reload();  // Tải lại trang sau khi xóa
                } else {
                    // Xử lý lỗi khi không xóa thành công
                    console.error('Delete user failed.');
                }
            })
            .catch(error => {
                // Xử lý lỗi khi yêu cầu không thành công
                console.error('Delete user request failed.', error);
            });
        }
    }
      </script>

</div>
{% endblock %}